<p><strong>Chair:</strong><br>
Robin Kolodny<br>
437 Gladfelter Hall<br>
<a href="tel:2152047709">(215) 204-7709</a><br>
<a href="mailto:rkolodny@temple.edu">rkolodny@temple.edu</a></p>
<hr>
<p><strong>Graduate Chair:</strong><br>
Hillel David Soifer<br>
463 Gladfelter Hall<br>
<a href="tel:2152041469">(215) 204-1469</a><br>
<a href="mailto:hsoifer@temple.edu">hsoifer@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Jessica Brennan<br>
708 Gladfelter Hall<br>
<a href="tel:2152047796">(215) 204-7796</a><br>
<a href="mailto:tua11422@temple.edu">tua11422@temple.edu</a></p>
<hr>
<p><strong>Coordinator:</strong><br>
LaTasha Goodman<br>
408 Gladfelter Hall<br>
<a href="tel:2152047796">(215) 204-7796</a><br>
<a href="mailto:lgoodman@temple.edu">lgoodman@temple.edu</a></p>
<hr>
<p><strong>Coordinator for Graduate Studies:</strong><br>
Tanya Taylor<br>
411 Gladfelter Hall<br>
<a href="tel:2152041469">(215) 204-1469</a><br>
<a href="mailto:ttaylo01@temple.edu">ttaylo01@temple.edu</a></p>
<hr>
<p><strong>Pi Sigma Alpha Faculty Advisor, Political Science Honor Society Delta Rho Chapter:</strong><br>
Roselyn Hsueh<br>
443 Gladfelter Hall<br>
<a href="mailto:rhsueh@temple.edu">rhsueh@temple.edu</a></p>
