<p><strong>Chair:</strong><br>
Robin Kolodny<br>
437 Gladfelter Hall<br>
<a href="tel:2152047709">(215) 204-7709</a><br>
<a href="mailto:rkolodny@temple.edu">rkolodny@temple.edu</a></p>
<hr>
<p><strong>Graduate Chair:</strong><br>
Hillel David Soifer<br>
463 Gladfelter Hall<br>
<a href="tel:2152041469">(215) 204-1469</a><br>
<a href="mailto:hsoifer@temple.edu">hsoifer@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Jessica Brennan<br>
708 Gladfelter Hall<br>
<a href="tel:2152047796">(215) 204-7796</a><br>
<a href="mailto:jessica.brennan@temple.edu">jessica.brennan@temple.edu</a></p>
<hr>
<p><strong>Coordinator:</strong><br>
LaTasha Goodman<br>
408 Gladfelter Hall<br>
<a href="tel:2152047796">(215) 204-7796</a><br>
<a href="mailto:lgoodman@temple.edu">lgoodman@temple.edu</a></p>
<hr>
<p><strong>Coordinator for Graduate Studies:</strong><br>
<a href="mailto:psgrad@temple.edu">psgrad@temple.edu</a></p>
<hr>
