<p><strong>Chair:</strong><br>
Robin Kolodny<br>
437 Gladfelter Hall<br>
<a href="tel:2152047709">(215) 204-7709</a><br>
<a href="mailto:rkolodny@temple.edu">rkolodny@temple.edu</a></p>
<hr>
<p><strong>Undergraduate Chair:</strong><br>
Sean Yom<br>
452 Gladfelter Hall<br>
<a href="tel:2152047796">(215) 204-7796</a><br>
<a href="mailto:sean.yom@temple.edu">sean.yom@temple.edu</a></p>
<hr>
<p><strong>Academic Advisor:</strong><br>
Nicolaos Catsis<br>
422 Gladfelter Hall<br>
<a href="mailto:ncatsis@temple.edu">ncatsis@temple.edu</a></p>
<hr>
<p><strong>Internship/Career Coordinator:</strong><br>
Erin Dwyer<br>
411 Gladfelter Hall<br>
<a href="mailto:erin.dwyer@temple.edu">erin.dwyer@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Jessica Brennan<br>
708 Gladfelter Hall<br>
<a href="tel:2152047796">(215) 204-7796</a><br>
<a href="mailto:jessica.brennan@temple.edu">jessica.brennan@temple.edu</a></p>
<hr>
<p><strong>Coordinator:</strong><br>
LaTasha Goodman<br>
408 Gladfelter Hall<br>
<a href="tel:2152047796">(215) 204-7796</a><br>
<a href="mailto:lgoodman@temple.edu">lgoodman@temple.edu</a></p>
<hr>
<p><strong>Pi Sigma Alpha Faculty Advisor, Political Science Honor Society Delta Rho Chapter:</strong><br>
Sean Yom<br>
452 Gladfelter Hall<br>
<a href="tel:2152047796">(215) 204-7796</a><br>
<a href="mailto:sean.yom@temple.edu">sean.yom@temple.edu</a></p>
<hr>
