<div>
  <h2>Adjunct Instructors</h2>
</div>
<div>
   <ul>
    <li><a href="https://liberalarts.temple.edu/academics/faculty/barton-brian">Brian Barton</a></li>
    <li><a href="https://liberalarts.temple.edu/academics/faculty/lawrence-kenneth">Kenneth Lawrence</a></li>
    <li><a href="https://liberalarts.temple.edu/academics/faculty/stein-matthew">Matthew Stein</a></li> 
    <li><a href="https://liberalarts.temple.edu/academics/faculty/street-john-f">John F. Street</a></li> 
 </ul>
</div>
<HR WIDTH="100%" SIZE="3" COLOR="#A41E35"> 
