<h2>Emeritus Faculty </h2>
  
<p>Retired and emeriti professors maintain connections to the Department, but rarely teach courses. Emeriti professors also may retain office space or other privileges in the Department.</p>

<ul>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/hoopermichael">Michael Hooper</a></li>
   <li><a href="mailto:mennis@temple.edu">Bernard Mennis</a><li>
   <li><a href="mailto:lynnm3@comcast.net">Lynn Miller</a><li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/rogers-james-m">James M. Rogers</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/weiler-conrad-j">Conrad J. Weiler</a></li>
</ul>
