<div>
  <h2>Graduate Students</h2>
    <p>Our highly selected PhD students are an intricate part of the learning and teaching experience here in the Deparment of Political Science. Our graduate students conduct research, teach courses and work closely with various faculty members and students throughout the department.</p>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12 m6">
     
      <ul>
        <li><a href="mailto:tamadher.almalek@temple.edu">Tamadher Almalek</a></li>
        <li><a href="mailto:susan.alunan@temple.edu">Susan Alunan</a></li>
        <li><a href="https://www.amandamalvarez.com/" title="Amanda Milena Alvarez">Amanda Milena Alvarez</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/amberg-blyskal-patricia-0" title="Patricia Amberg-Blyskal">Patricia Amberg-Blyskal</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/antsen-jeff" title="Jeff Antsen">Jeff Antsen</a></li>
        <li><a href="https://sites.temple.edu/brianbarton/" title="Brian Barton">Brian Barton</a></li>
        <li><a href="http://sites.temple.edu/binette/" title="Aja Binette">Aja Binette</a></li>
        <li><a href="https://sites.temple.edu/joelblaxland/" title="Joel Blaxland">Joel Blaxland</a></li>
        <li><a href="mailto:theresa.cotter@temple.edu">Theresa Cotter</a></li>
        <li><a href="mailto:dcrawford@temple.edu">David Crawford</a></li>
        <li><a href="">Anthony Delsignore</a></li>
        <li><a href="mailto:julia.durand@temple.edu">Julia Durand</a></li>
        <li><a href="mailto:jimfowler@temple.edu">James Fowler</a></li>
        <li><a href="mailto:james.frick@temple.edu">James Frick</a></li>
        <li><a href="mailto:ethan.fried@temple.edu">Ethan Fried</a></li>
        <li><a href="mailto:aaron.good@temple.edu">Aaron Good</a></li>
        <li><a href="https://sites.temple.edu/cgothreau/" title="Claire Gothreau">Claire Gothreau</a></li>
        <li><a href="mailto:sean.harris@temple.edu">Sean Harris</a></li>
        <li><a href="mailto:john.hebert@temple.edu">John Hebert</a></li>
        <li><a href="mailto:anna.henderson@temple.edu">Anna Henderson</a></li>
        <li><a href="mailto:john.hess@temple.edu">John Hess</a></li>
      </ul>
    </div>

    <div class="row">
      <div class="col s12 m6">
  
        <ul>
          <li><a href="mailto:walter.james@temple.edu">Walter James</a></li>
          <li><a href="mailto:alicia.lynn.jones@temple.edu">Alicia Jones</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/kasparek-stefanie-i" title="Stefanie Kasparek">Stefanie Kasparek</a></li>
          <li><a href="https://sites.temple.edu/jessicakehler/" title="Jessica Kehler">Jessica Kehler</a></li>
          <li><a href="">Arnold Kim</a></li>
          <li><a href="" title="Sevdenur Kose">Sevdenur Kose</a></li>
          <li><a href="mailto:phillip.logan@temple.edu">Phillip Logan</a></li>
          <li><a href="mailto:ian.mathews@temple.edu">Ian Mathews</a></li>
          <li><a href="">Audrey McLain</a></li>
          <li><a href="">Brett Miller</a></li>
          <li><a href="mailto:richard.paul.pasquier@temple.edu">Richard Pasquier</a></li>
          <li><a href="mailto:jared.pentz@temple.edu">Jared Pentz</a></li>
          <li><a href="mailto:lauren.rowlands@temple.edu">Lauren Rowlands</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/scherer-danielle-k" title="Danielle Scherer">Danielle Scherer</a></li>
          <li><a href="mailto:matt.stein@temple.edu">Matthew Stein</a></li>
          <li><a href="mailto:caroline.tynan@temple.edu">Caroline Tynan</a></li>
          <li><a href="http://www.everettvieira.com/" title="Everett A. Vieira, III">Everett A. Vieira, III</a></li>
          <li><a href="">Brynn West</a></li>
          <li><a href="http://canzengin.weebly.com/" title="Can Zengin">Can Zengin</a></li>
        </ul>
      </div>
    </div>
  </div>
