<div>
  <h2>Graduate Students</h2>
    <p>Our highly selected PhD students are an intricate part of the learning and teaching experience here in the Department of Political Science. Our graduate students conduct research, teach courses and work closely with various faculty members and students throughout the department.</p>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12 m6">
     
      <ul>
        <li>Fariha Ahmed</li>
        <li>Susan Alunan</li>
        <li><a href="https://liberalarts.temple.edu/academics/departments/political-science/banerjee-souradeep">Souradeep Banerjee</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/barton-brian">Brian Barton</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/departments/political-science/bouffard-james">James Bouffard</a></li>
        <li>Jared Campbell</li>
        <li>Julie Cohen</li>
        <li><a href="https://liberalarts.temple.edu/academics/departments/political-science/confalone-dan">Dan Confalone</a></li>
        <li>Sara Contreras</li>
        <li>David Crawford</li>
        <li><a href="https://liberalarts.temple.edu/academics/departments/political-science/dahl-mackenzie">Mackenzie Dahl</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/departments/political-science/farrell-niamh">Niamh Farrell</a></li>
        <li>Alex Fischer</li>
        <li>James Fowler</li>
        <li><a href="https://liberalarts.temple.edu/academics/departments/political-science/fried-ethan">Ethan Fried</a></li>
        <li>Luis Garcia</li>
        <li><a href="https://liberalarts.temple.edu/academics/departments/political-science/harris-sean-d">Sean D.Harris</a></li>
        <li>John Hebert</li>
      </ul>
    </div>

    <div class="row">
      <div class="col s12 m6">
  
        <ul>
          <li>John Hess</li>
          <li><a href="https://liberalarts.temple.edu/academics/departments/political-science/higgins-alexandra">Alex Higgins</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/departments/political-science/james-walter">Walter James</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/departments/political-science/kasparek-stefanie">Stefanie Kasparek</a></li>
          <li>Jessica Kehler</li>
          <li><a href="https://liberalarts.temple.edu/academics/departments/political-science/koru-sevdenur">Sevdenur Koru</a></li>
          <li>Phillip Logan</li>
          <li>Ian Matthews</li>
          <li>Richard Pasquier</li>
          <li><a href="https://liberalarts.temple.edu/academics/departments/political-science/pentz-jared">Jared Pentz</a></li>
          <li>Felix Puémape</li>
          <li>Felipe Ribeiro</li>
          <li><a href="https://liberalarts.temple.edu/academics/departments/political-science/robinson-nicholas">Nicholas Robinson</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/departments/political-science/saikali-sussan">Sussan Saikali</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/departments/political-science/shenker-maura">Maura Shenker</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/departments/political-science/shinjo-sakura">Sakura Shinjo</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/departments/political-science/yahmi-ilyssa">Ilyssa Yahmi</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/departments/political-science/zengin-can">Can Zengin</a></li>
        </ul>
      </div>
    </div>
  </div>

<HR WIDTH="100%" SIZE="3" COLOR="#A41E35">
  
<div>
  <h3>Graduate Students On the Market</h3>
    <p>Listed below are current graduate students and recent PhD graduates seeking academic employment.</p>
</div>
<div>
   <ul>
    <li><a href="https://liberalarts.temple.edu/academics/faculty/stein-matthew">Matthew Stein</a></li>
    <li><a href="https://liberalarts.temple.edu/academics/departments/political-science/tynan-caroline">Caroline Tynan</a></li> 
 </ul>
</div>  
